@model Prueba_1_HP.Models.Estudiante

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEstudiante" class="control-label"></label>
                <input asp-for="NombreEstudiante" class="form-control" />
                <span asp-validation-for="NombreEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutEstudiante" class="control-label"></label>
                <input asp-for="RutEstudiante" class="form-control" />
                <span asp-validation-for="RutEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailEstudiante" class="control-label"></label>
                <input asp-for="EmailEstudiante" class="form-control" />
                <span asp-validation-for="EmailEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoEstudiante" class="control-label"></label>
                <input asp-for="ApellidoEstudiante" class="form-control" />
                <span asp-validation-for="ApellidoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEstudiante" class="control-label"></label>
                <input asp-for="DireccionEstudiante" class="form-control" />
                <span asp-validation-for="DireccionEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadEstudiante" class="control-label"></label>
                <input asp-for="EdadEstudiante" class="form-control" />
                <span asp-validation-for="EdadEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoEstudiante" class="control-label"></label>
                <input asp-for="FechaNacimientoEstudiante" class="form-control" />
                <span asp-validation-for="FechaNacimientoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_apoderado" class="control-label"></label>
                <input asp-for="nombre_apoderado" class="form-control" />
                <span asp-validation-for="nombre_apoderado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
