@{
    ViewData["Title"] = "Registros";
}

<div class="text-center">
    <h1 class="display-4">Cft Estatal de Arica y Parinacota</h1>
    <p><b>Bienvenidos al Registro de Estudiantes y Asignaturas</b></p>
    <img src="~/css/Logo-CFT-3-Transparente.png" />
    <br>
    <p><a href="http://localhost:5147/Estudiantes" class="btn btn-success">Estudiantes</a></p>
    <p><a href="http://localhost:5147/Asignaturas" class="btn btn-success">Asignaturas</a></p>


</div>
